@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #2b4a6b;
  --foreground: #ffffff;
  --primary: #FFC107;
  --secondary: #213852;
  --text-color: var(--foreground);
  --font-family: 'Cabin', Helvetica, sans-serif,Arial;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #2b4a6b;
    --foreground: #ffffff;
    --primary: #FFC107;
    --secondary: #213852;
    --text-color: var(--foreground);
    --font-family: 'Cabin', Helvetica, sans-serif,Arial;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
