@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0d0abb;
  --foreground: #e41717;
  --primary: #000000;
  --secondary: #000000;
  --text-color: var(--foreground);
  --font-family: Arial, Helvetica, sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #3405a1;
    --foreground: #ce1313;
    --text-color: var(--foreground);
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
